/* .body {
    padding: 3rem 6rem;
}

.services {
    margin: 0;
    background-color:aliceblue;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .body {
        padding: 3rem 1rem;
    }
    
} */