.header {
  background: linear-gradient(to bottom, #0619eb, #85b6e8);
  height: 500px;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px){
.header{
  height: 650px;
}
}

@media screen and (min-width: 768px){

}

@media screen and (max-width: 1440px){

}