.header {
  background: linear-gradient(to bottom, #0619eb, #85b6e8);
  height: 500px;
  color: white;

  /* padding: 3rem 5rem; */
}

@media screen and (min-width: 320px) and (max-width: 425px){
.header{
  height: 550px;
  /* margin: 0rem !important; */
}
}

@media screen and (min-width: 768px){

}

@media screen and (max-width: 1440px){

}