.about {
  display: flex;
  padding: 6rem 1rem;
  gap: 1rem;
  width: 70%;
  justify-self: center;
}

.about- {
  background-color: #ccc;
}

.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-right h5 {
  font-size: 10px;
  margin-top: 0;
}

.about-right h1 {
  font-size: 30px;
  margin-top: 0;
}

.about-right p {
  font-size: 15px;
  margin-top: 0;
}

.control-img {
  width: 70%;
  height: 70%;
}
.control-img img{
  width: 100%;
  height: 100%;
}

.about-img {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  /* width: 30% !important;
  height: 30%; */
  /* margin: auto; */
}

.about-img-flex {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  flex-direction: column;
  /* justify-content: center; */
  /* justify-items: center; */
  margin-top: 20px;
}

.about-img-flex h1 {
  color: white;
  background-color: rgb(101, 101, 250);
  font-size: 15px !important;
  padding: 3px;
  padding-right: 10px;
  margin:0;
}
.about-img-flex p {
  font-size: 7px !important;
  padding: 2px;
  margin:0;
}

.about-img img {
  border-radius: 10px;
  border-bottom-right-radius: 55px;
}

.about-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.grid-row {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.grid-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 0;
}

.grid-col h1 {
  margin: 0;
  color: rgb(53, 53, 173);
}
.grid-col p {
  margin: 0;
}

.grid-row img {
  width: 40px;
  height: 40px;
}

.about-grid button {
  border: none;
  border-radius: 10px;
  background-color: rgb(148, 94, 240);
  color: white;
  width: 10rem !important;
}

.about-p {
  font-size: 10px;
  margin-top: 0;
}

.about-mainheading {
  font-size: 15px;
  padding-top: 0 !important;
}

.about-subheadng{
  font-size: 10px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .about {
    flex-direction: column-reverse;
    padding: 2rem!important;
    margin: 0;
  }

  .about-right {
    flex: 1;
    width: 100% !important;
  }

  .about-p {
    font-size: 10px;
    margin-top: 0;
  }

  .about-mainheading {
    font-size: 20px;
    padding-top: 0 !important;
  }

  .about-subheadng{
    font-size: 10px;
  }

  .about-img img {
    /* width: 90%;
    height: 90%; */
  }
  .control-img {
    width: 70%;
    height: 70%;
  }
  .control-img img{
    width: 100%;
    height: 100%;
  }

  .about-img {
    align-items: center;
  }

  .about-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-row img {
    width: 20px !important;
    height: 20px !important;
  }

  .about-grid h1 {
    font-size: 10px !important;
  }
  .about-grid p {
    font-size: 5px !important;
  }
  .about-grid button {
    width: 5rem !important;
    font-size: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .grid-row img {
    width: 30px !important;
    height: 30px !important;
  }

  .about-grid h1 {
    font-size: 10px !important;
  }
  .about-grid p {
    font-size: 5px !important;
  }
  .about-grid button {
    width: 5rem !important;
    font-size: 10px !important;
  }
  .about-p {
    font-size: 10px !important;
    margin-top: 0;
  }
  
  .about-mainheading {
    font-size: 16px !important;
    padding-top: 0 !important;
  }
  
  .about-subheadng{
    font-size: 10px !important;
  }

  .about h1 {
    font-size: 20px;
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 1440px) {
  /* .about {
    padding: 5rem 6rem;
  } */
  .control-img {
    width: 70%;
    height: 70%;
  }
  .control-img img{
    width: 100%;
    height: 100%;
  }
  .about-p {
    font-size: 15px !important;
    margin-top: 0;
  }
  
  .about-mainheading {
    font-size: 25px !important;
    padding-top: 0 !important;
  }
  
  .about-subheadng{
    font-size: 13px !important;
  }
  
  .about-img {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    /* width: 30% !important;
    height: 30%; */
    /* margin: auto; */
  }
  
  .about-img-flex {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-items: center; */
    margin-top: 20px;
  }
  
  .grid-col h1 {
    margin: 0;
    color: rgb(53, 53, 173);
  }
  .grid-col p {
    margin: 0;
  }

  .grid-row img {
    width: 50px;
    height: 50px;
  }

  .about-grid button {
    width: 15rem;
  }
}
