.choose {
    display: flex;
    flex: 1;
    flex-direction: row !important;
    justify-content: center;
    justify-items: center;
    padding: 3rem;
    gap: 2rem;
}

.choose-img {
    flex :1 ;
    display: flex;
    position: relative;
    margin: auto;
}

.img1 {
    width: 70%;
    height: 70%;
    border-bottom-right-radius: 70%;
    border-top-right-radius: 15px;
}

.img2 {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 4rem;
    right: 0;
    border-bottom-right-radius: 70%;

}
.choose-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.choose-right h5 {
    color: rgb(87, 87, 243);
    margin: 0;
    font-size: 12px;
}
.choose-right h1 {
    margin: 0;
    font-size: 35px;
}
.choose-p {
    /* margin: 0; */
    font-size: 15px;
    padding: 20px 3px;
}

.choose-para {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin: 0;
}

.choose-para h1 {
    margin: auto;
    color: rgb(64, 130, 236);

}

.para-col h2{
    font-weight: bold;
    margin: 3px;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .choose {
       flex-direction: column-reverse;
       padding: 5rem 1rem;
        gap: 2rem;
    }
    .choose-right h5 {
        color: rgb(87, 87, 243);
        margin: 0;
        font-size: 8px;
    }
    .choose-right h1 {
        margin: 0;
        font-size: 25px;
    }
    .choose-p {
        font-size: 10px;
        padding: 20px 3px;
    }
    .choose-para h1 {
        margin: auto;
        color: rgb(64, 130, 236);
    
    }
    
    .para-col h2{
        font-weight: bold;
        margin: 3px;
        font-size: 20px;
    }
    .para-col p{
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .choose {
        flex-direction: column-reverse !important;
        padding: 5rem 3rem;
    }
    .choose-right h5 {
        font-size: 15px;
    }
    .choose-right h1 {
        font-size: 25px;
    }
    .choose-p {
        font-size: 10px;
        padding: 20px 3px;
    }
    .para-col h2{
        font-weight: bold;
        margin: 3px;
    }
    .img1 {
        width: 70%;
        height: 70%;
    }
    
    .img2 {
        width: 70%;
        height: 100%;
    }
}

@media screen and (max-width: 1440px){

}