
.faq-{
  justify-items: center;

}

.faq {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 70%;
  /* margin: 2rem 3rem; */
  margin: 20px 0;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #5e6bfa, #244f7a);
  padding: 10px 0;
  
}

.form h1 {
  font-size: 10px;
  color: white;
  padding: 0 10px;
}

.form-input {
  padding: 1px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-box {
  /* max-height: 8rem !important; */
  min-height: fit-content;
}

.form-input input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 10px;
}

.btn {
  background-color: #0a65c0;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.questions {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.questions h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.questions h1 {
  font-size: 25px !important;
  margin-top: 0 !important;
}

.questions p {
  font-size: 10px !important;
} 

.questions h2 {
  font-size: 17px !important;
}

.q1 {
  display: flex;
  justify-items: center;
  gap: 12px;
  margin: auto;
}
.arrow {
  margin: auto 0;
}
 
.border {
  border-bottom: 2px solid rgb(74, 131, 188);
  margin: 0px 12px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .faq {
    flex-direction: column-reverse;
    width: 70%;
    margin-bottom: 10px;
  }
  
.questions h3 {
  font-size: 10px;
  margin-bottom: 0;
}

.questions h1 {
  font-size: 23px !important;
  margin-top: 0 !important;
}

.questions p {
  font-size: 10px !important;
}

.questions h2 {
  font-size: 15px !important;
}
  
}

@media screen and (min-width: 768px) {
  .faq {
    gap: 1rem;
    width: 70% !important;
  }
  .form {
    margin: 0;
    margin-top: 15px;
  }
  
  .questions h3 {
    font-size: 10px;
    margin-bottom: 0;
  }
  .text-box {
    /* max-height: 8rem !important; */
    min-height: 10rem !important;
  }
  
  .questions h1 {
    font-size: 23px !important;
    margin-top: 0 !important;
  }
  .text-box {
    /* max-height: 8rem !important; */
    min-height: fit-content;
   
  }
  .questions p {
    font-size: 10px !important;
  }
  
  .questions h2 {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    /* margin: 3rem 5rem; */
    width: 60%;
    padding: 30px 0;
  }
  .questions h3 {
    font-size: 15px;
  }
  
  .questions h1 {
    font-size: 35px;
  }
  
  .questions p {
    font-size: 15px;
  }
  
  .questions h2 {
    font-size: 25px;
  }
}
