/* .footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(to bottom, #5e6bfa, #244f7a);
  color: white;
  width: 60%;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto auto auto !important;
  align-items: center;
  align-content: center;
  gap: 4px;
  text-align: center;
}

.footer-logo {
  text-align: center;
  font-size: 20px;
  margin: auto 0;
}

.number {
  display: flex;
  font-size: 15px;
}

.phone {
  margin: auto;
}

.number-flex {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: auto 10px;
}

.number-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-flex-col h1 {
  font-size: 15px;
  margin: 0;
}

.email {
  display: flex;
  font-size: 15px;
}

.email-num {
  margin: auto;
}

.email-flex {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: auto 10px;
}

.email-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-flex-col h1 {
  font-size: 15px;
  margin: 0;
}

.address {
  display: flex;
  font-size: 15px;
}

.address-num {
  margin: auto;
}

.address-flex {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: auto 10px;
}

.address-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-flex-col h1 {
  font-size: 15px;
  margin: 0;
}

.footer-about {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
}

.footer-about h1 {
  font-size: 15px;
  margin: 0;
}
.footer-about p {
  font-size: 10px;
}

.facebook {
  display: flex;
  gap: 12px;
}

.usefull {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.usefull h1 {
  font-size: 15px;
}

.flex-row {
  margin-top: 2px;
  font-size: 11px;
}

.usefull-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 11px;
}

.useful-flex-row {
  display: flex;
  gap: 10px;
  margin: 0;
}

.useful-flex-row p {
  margin: 0;
}

.we-do-flex-row p {
  margin: 0;
}

.we-do {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.we-do h1 {
  font-size: 15px;
}

.we-do-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 11px;
}

.we-do-flex-row {
  display: flex;
  gap: 10px;
  margin: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.subscribe h1 {
  font-size: 20px;
}

.subscribe input {
  width: fit-content;
}

.subscribe button {
  width: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer-grid {
    display: grid;
    grid-template-columns: auto auto !important;
  }
  .footer-logo h1 {
    font-size: 25px;
  }
  .subscribe h1 {
    font-size: 15px;
  }
  .we-do-flex-col {
    font-size: 8px;
  }
  .we-do h1 {
    font-size: 10px;
  }
  .usefull h1 {
    font-size: 10px;
  }

  .flex-row {
    margin-top: 2px;
    font-size: 8px;
  }

  .usefull-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 8px;
  }
  .footer-about h1 {
    font-size: 10px;
  }
  .footer-about p {
    font-size: 10px;
  }
  .address-flex-col h1 {
    font-size: 10px;
    margin: 0;
  }
  .email-flex-col h1 {
    font-size: 10px;
    margin: 0;
  }
  .number-flex-col h1 {
    font-size: 10px;
    margin: 0;
  }

  .email {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer-grid {
    grid-template-columns: auto auto auto;
    margin-top: auto !important;
  }
}

@media screen and (max-width: 1440px) {
  .footer-grid {
    gap: 20px;
}
} */

.footer {
  background: linear-gradient(to bottom, #5e6bfa, #244f7a);
  color: white;
  /* justify-self: center; */
  width: 100%;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-items: center;
  justify-self: center;
}

.up-nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
}

.up-nav-r-flex {
  /* flex: 1; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
  margin: auto;
}

.up-nav-r-flex-col p {
  margin: 0;
  font-size: 8px;
  padding: 3px;
}
.up-nav-r-flex-col h3 {
  font-size: 8px;
  margin: 0;
}
.up-nav {
  padding-top: 10px;
}

.footer-logo {
  font-size: 10px;
}
.up-nav-s {
  margin: auto;
}

.down-nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
  font-size: 10px;
  gap: 10px;
}

.footer-about {
  flex: 1;
}

.footer-about h1 {
  font-size: 15px;
}
.footer-about p {
  font-size: 8px;
}

.down {
  margin: 0;
  font-size: 10px;
  flex: 1;
  text-align: center;
}
.down h1 {
  /* margin: 0; */
  font-size: 15px;
}
.down-nav {
  padding-top: 30px;
}
.facebook {
  display: flex;
  gap: 10px;
}
.down-flex-col {
  text-align: center;
}

.down-flex-row {
  display: flex;
  gap: 5px;
  padding: 2px 0;
  justify-self: anchor-center;
}
.down-flex-row p {
  margin: 0;
}

.flex-row {
  margin: 0;
}

.subscribe {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.subscribe input {
  width: 10rem;
  border: none;
  border-radius: 4px;
  padding-top: 3px;
  margin: auto;
}
.subscribe h1 {
  font-size: 15px;
}

.subscribe-now-button {
  width: 10rem;
  border: none;
  border-radius: 4px;
  padding: 3px;
  margin-top: 3px;
}

.copyright {
  font-size: 10px ;
  justify-self: center;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .copyright {
    font-size: 15px;
  }
  .subscribe h1 {
    font-size: 20px;
  }
  .subscribe-now-button {
    width: 13rem;
    margin-top: 3px;
  }
  .subscribe input {
    width: 13rem;
    margin: auto;
  }
  .down h1 {
    /* margin: 0; */
    font-size: 20px;
  }
  .footer-about h1 {
    font-size: 20px;
  }
  .footer-about p {
    font-size: 10px;
  }
  .footer-logo {
    font-size: 12px;
  }
  .up-nav-r-flex-col p {
    font-size: 10px;
    padding: 3px;
  }
  .up-nav-r-flex-col h3 {
    font-size: 10px;
  }
}
