.future {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}
.future p {
  margin: auto;
  font-size: 25px;
  width: 18rem;
  font-weight: bold;
  color: white;
}

.future-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}


.play-btn {
  color: white;
}