.per {
  display: flex;
  background: linear-gradient(to bottom, #5e6bfa, #244f7a);
  height: 6rem;
  justify-content: space-evenly;
  justify-items: center;
  color: white;
  margin: auto;
}

.per-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.per-flex h1 {
  font-size: 30px;
  margin: 0;
}

.per-flex p {
  font-size: 7px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .per-flex h1 {
    font-size: 20px;
  }
  .per-flex p {
    font-size: 8px !important;
  }
}


