.services2 {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  padding: 3rem 0rem;
  width: 70%;
}

.services2 {
  display: flex;
  justify-self: center;
  gap: 20px;
}

.services2-subheadng {
  font-size: 10px;
}

.services2-mainheading {
  font-size: 25px;
}

.services2-p {
  font-size: 15px;
}
.services2-left {
  flex: 1;
}

.services2-right {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.grid2-row {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.grid2-img {
  margin: auto;
}
.grid2-img img {
  width: 30px;
  height: 30px;
}

.grid2-col {
  flex: 2;
}

.grid2-col h1 {
  font-size: 14px;
}
.grid2-col p {
  font-size: 10px;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .services2 {
    flex-direction: column;
    padding: 0rem 1rem;
  }
  .grid2-col h1 {
    font-size: 13px;
  }
  .grid2-col p {
    font-size: 10px;
  }
  .services2-right {
    gap: 0rem !important;
  }
  .grid2-img img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .grid2-col h1 {
    font-size: 14px;
  }
  .grid2-col p {
    font-size: 8px !important;
  }
  .services2-subheadng {
    font-size: 8px;
  }
  .services2-mainheading {
    font-size: 20px;
  }
  .services2-p {
    font-size: 10px;
  }
  
  .services2-right {
    gap: 0rem;
  }
}

@media screen and (min-width: 1440px) {
  .grid2-col h1 {
    font-size: 20px;
  }
  .grid2-col p {
    font-size: 10px;
  }
  .services2-left {
    flex: 1;
  }
}
